

.nuevoValorC{

    display: none;
}
.botones{
    margin: 5px;
}



.buscarBtn{
    background-color: rgba(241, 193, 35, 0.945);
    width: 85px;
    height: 30px;
    margin-left: 1%;
    margin-bottom: 1%;
    border: 0px;
    border-radius: 10px;
    font-size: 20px;
}
 
#crearBtn {
    background-color: rgba(241, 193, 35, 0.945);
    width: 200px;
    height: 60px;
    margin-left: 1%;
    margin-bottom: 1%;
    border: 0px;
    border-radius: 10px;
    font-size: 20px;
}

#txtBuscar{
    
    width: 250px;
    height: 30px;
    border-radius: 6px;
}
.tablaIngredientes {
    position: absolute;
    width: 90%;
    text-align-last: center;

    top:-200px;
    right: -180px;
    
}


h2{
    margin-top: 20px;
}

.btnCerrar{
    
    background-color: whitesmoke;
    width: 130px;
    height: 40px;
    margin-left: 35% ;
    margin-top: 5%;
    font-size: 25px;
   ;
}

.btnGuardado{
   
    background-color: whitesmoke;
    width: 180px;
    height: 40px;
    margin-left: 5% ;
    margin-top: 5%;
    font-size: 22px;
   
}