
h3{
    font-size: 60px;
    color: rgb(224, 103, 21);
    margin-left: 10%;
}
button {
    width: 200px;
    font-size: 20px;
    border: 1px solid black;
    background-color: rgb(218, 75, 32);

    
}
.btn-group{
    margin-left: 15%;
}

