

<div class = "containerFiltros">
    <div class = "Filtro1">
            
                <h3>Tiempo:</h3>
            
                <form>
                    <select name="ad" onchange="salta(this.form)">
                    <option selected> ---
                    <option value="oned">Un dia
                    <option value="onew">Una semana
                    <option value="onem">Un mes
                    <option value="threem">Tres meses
                    <option value="sixm">Seis meses
                    </select>
                </form>
     

    </div>

    <div class = "Filtro2">

        <h3>NIT Cliente:</h3>
        <input id= "nitCliente">
    </div>


</div>


<div class="tablaUsuarios">


    <app-reusable-table [datos]="datos" [columnas]="columnas" [buttonNames]="buttonsNames" [filtros]="filtros" (parentMethod)="funcionBoton($event)" >
       
    </app-reusable-table>
 
 </div>

 
<jw-modal id="modal-1" >
    <h1>Informacion objeto</h1>
    <p>{{pedidoSeleccionado.name}}</p>
    <p><button class="btnCerrar" (click)="modalService.close('modal-1');">Cerrar</button></p>
 
 </jw-modal>
 