
div{
    
    
    font-family: sans-serif;
    text-align: center;
    color:black;
    margin: 2px;
    padding: 3px;
}


.containerITable{

    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:  flex;
    
}


.tablaUsuarios{

    border-radius: 5px;
    height: 400px;
    width: 100%;

}
jw-modal btnCerrar{

    position: absolute;
    top: 10px;
    right : 10px;
    
    
    cursor: pointer;
    border-radius: 20%;
}




.containerFiltros {
    display: grid;
    border: 1px solid black;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Filtro1 Filtro2"
      ;

    height: 300px;

  }
  
.Filtro1 { 
    grid-area: Filtro1;
 }
  
.Filtro2 { grid-area: Filtro2; }

#fechaInicio{

    display: none;

}
#fechaDestino{

    display: none;
   
}
#clientCampus{

    display: none;
}
