
<div class="tablaUsuarios">


   <app-reusable-table [datos]="datos" [columnas]="columnas" [buttonNames]="buttonsNames" [filtros]="filtros" (parentMethod)="funcionBoton($event)" >
      
   </app-reusable-table>

</div>



<jw-modal id="modal-1" >
   <h1>Informacion Pedido</h1>
   <app-reusable-table [datos]="pedidoSeleccionadoDatos" [columnas]="pedidoSeleccionadoColumnas"  >
       
   </app-reusable-table>
   <p><button class="btnCerrar" (click)="modalService.close('modal-1');">Cerrar</button></p>

</jw-modal>

<jw-modal id="modal-2" >
   
   <h1>Seguro que quiere cambiar estado de pedido?</h1>
   <p>{{pedidoSeleccionado.name}}</p>
   <p><button class="btnCerrar" (click)="cambiarEstado(pedidoSeleccionado);">SI</button></p>

   <p><button class="btnCerrar" (click)="modalService.close('modal-2');">Cancelar</button></p>

</jw-modal>