<div>

</div>
<div class = "sectorFiltros">
    <input type="text" id="txtBuscar">
    <button type="submit" class="buscarBtn" (click)="buscar()">Buscar</button>

    <button id="crearBtn" (click)="mandarCrearIngrediente()">Crear Ingrediente</button>
</div>

<div class="tablaIngredientes">

    <app-tabla-reusable [datos]="datos" [columnas]="columnas" [nombreBotones]="nombreBotones" (parentMethod)="funcionBoton($event)" colorLetra="black">
          
       </app-tabla-reusable> 
       
       
</div>

<jw-modal id="modal-3" altura="70" >
    <h1>Modificar Ingrediente:</h1>
    <div class="infoEditable">
        <h1>Nombre:</h1>
        <h3>{{ingredienteSeleccionado.Nombre}}</h3>
        <button (click)="cambiarValor('Nombre')">Editar</button>
        
        <h1>Cantidad Restante:</h1>
        <h3>{{ingredienteSeleccionado.Cantidad}}</h3>
        <p> NO EDITABLE </p>

        <h1>Medida de Unidad:</h1>
        <h3>{{ingredienteSeleccionado.UnidadMedida}}</h3>
        <button (click)="cambiarValor('UnidadMedida' )">Editar</button>

        <div class="nuevoValorC">
            <input type="text" id= "valorN" name="nuevoValor">
            <button type="submit" (click)= "guardarValor()">Ok</button>
        </div>
    </div>
    
    
    <div class="botones">
        <button class="btnGuardado" (click)="guardarCambios(ingredienteSeleccionado)">Guardar Cambios</button>
       <button class="btnCerrar" (click)="servicioModal.cerrar('modal-3');">Cancelar</button>
    </div>
 </jw-modal>

 <jw-modal id="modal-4" altura="60">
     <div class="bien">
    <div class="infoEditable">
        
       
            <h1>Nombre:</h1>
            <input type="text" id= "valorNombreCrear" name="nombreV">
            
        
            <h1>Unidad Medida:</h1>
            <p>Colocar si es Kg. ,gr, unidades, etc.</p>
            <input type="text" id= "valorUnidadCrear" name="nombreV">
             
        
            <h1>Cantidad: 0</h1>
        
        
            <h1>CostoUnidad: No se sabe</h1>
       
        

    </div>
    
    
    <div class="botones">
        <button class="btnGuardado" (click)="crearIngrediente()">Guardar Cambios</button>
       <button class="btnCerrar" (click)="servicioModal.cerrar('modal-4');">Cancelar</button>
    </div>
    </div>
 </jw-modal>