
<div class = "sectorFiltros">
    <input type="text" id="txtBuscar">
    <button type="submit" class="buscarBtn"(click)="buscar()">Buscar</button>

    <button id="crearBtn" (click)="mandarCrearIng(); ">Crear/Modificar Ingrediente</button>
</div>

<div class="tablaIngredientes">

    <app-tabla-reusable [datos]="datosIng" [columnas]="columnasIng" [nombreBotones]="nombreBotonesIng" (parentMethod)="funcionBoton($event)" colorLetra="black">
          
       </app-tabla-reusable> 
       
       
</div>




 <jw-modal id="modalIng-01" altura="90" >

    <div class="contenedorFiltros">

        <form>
            
            <div>
                <div>
                    <input type="radio" id="crearI" name= "ingCrear" checked (click) = "filtroCrear()">
                    <label for="contactChoice1">Crear Ingrediente</label>
                </div>
                <div>
                    <input type="radio" id="modI" name="ingCrear" (click) = "filtroModificar()">
                    <label for="contactChoice2">Modificar Ingrediente</label>
                </div>
                
    
            </div>
          </form>
    
    </div>




    <div class="ing">

        <div id="siModifico">
            <h3>Ingrediente a Modificar:</h3>
            <input type="text" id="objetoSeleccionadoID" readonly>
        
        </div>
        <div class="infoEditable">
            
        
                <h1>Nombre:</h1>
                <input type="text" id= "valorNombreCrear" name="nombreV">
                
            
                <h1>Tipo de Medida:</h1>
                <p>Colocar si es Kg. ,gr, unidades, etc.</p>
                <input type="text" id= "valorUnidadCrear" name="nombreV">
                
                <!--<h1>Descripcion:</h1>
                <textarea name="descrip" rows="6" cols="50" id="valorDescripcion"></textarea> -->
                

        </div>
        <div class="infoNoEditable">
        
            <h1>Cantidad en Inventario:</h1>
            <input type="text" id= "valorCantidad" readonly>      
            <h1>Costo Unidad Promedio</h1>
            <input type="text" id= "valorCostoU" readonly>   
            <h1>Cantidad Medida</h1>
            <input type="text" id= "valorCantidadMedida" readonly>   

    </div>
        
        <div class="botones">
            <button class="btnGuardado" (click)="crearIng()">{{nombreBoton}}</button>
            <button class="btnCerrar" (click)="servicioModal.cerrar('modalIng-01'); this.filtroCrear()">Salir</button>
        </div>
    </div>
 </jw-modal>


 <jw-modal id="modalIng-2" altura="80" >
    <h1>Elegir Ingrediente:</h1>
    <div id="tablaIng">

        <app-tabla-reusable [datos]="datosIng" [columnas]="columnasIng" [nombreBotones]="nombreBotonesIng2" (parentMethod)="funcionBoton($event)" colorLetra="black">
              
           </app-tabla-reusable> 
           
           
    </div>
    
    
    <div class="botones">

       <button class="btnCerrar" (click)="servicioModal.cerrar('modalIng-2'); this.filtroCrear()">Cancelar</button>
    </div>
 </jw-modal>