

<div class="row" id ="filtros">
    <div class="col-md-12">

        <div class=crearCate>
            <input type="radio" id="crearP" name= "prodCrear" checked (click) = "filtroCrear()">
            <label for="contactChoice1">Crear Producto</label>
        </div>
        <div class=modCate>
            <input type="radio" id="modP" name="prodCrear" (click) = "filtroModificar()">
            <label for="contactChoice2">Modificar Producto</label>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12">

        <div id="siModifico">
            <h3>Producto a Modificar:</h3>
            <input type="text" id="objetoSeleccionadoID" readonly>
        
        </div>
    </div>
</div>



<div class="row">
    <div class="col-md-4">
     
       
        <h2>Nombre:</h2>
        <input type="text" id="nuevoNP">
    
        <h2>Tamaño:</h2>
        <input id="nuevoTP">
        <small >Grande, mediano o pequeno </small>

       
    </div>
    <div class="col-md-4">

        <h2>Costo:</h2>
        <input readonly type="text" id="nuevoCP">

        <h2>Precio:</h2>
        <input type="text" id="nuevoPP">
    </div>
    <div class="col-md-4">
        <h2>Imagen:</h2>
        <input type="text" id="nuevoIP">


    </div>
</div>



<div class="row">
    <div class="col-md-6">

        <div class="contendorListadoSi">

            <h1>Ingredientes que estan:</h1>
            <app-tabla-reusable 
            [datos]="datosIngMini" 
            [columnas]="columnasIngMini" 
            [nombreBotones] = "nombreBotonesIng2"
            (parentMethod) = "funcionBoton($event)"
            colorLetra="black"
            [titulosTextos]="titulosIng"
            botonGuardarDatos = 'si'>
            </app-tabla-reusable> 
        
        </div>
        
    </div>
    <div class="col-md-6">

   
        <div class="contendorListadoNo">
    
            <h1>Ingredientes por anadir:</h1>
            <app-tabla-reusable 
            [datos]="datosIng" 
            [columnas]="columnasIng" 
            [nombreBotones] = "nombreBotonesIng1"
            (parentMethod) = "funcionBoton($event)"
            colorLetra="black"
            indice = "1"
            >
            </app-tabla-reusable> 
        
        </div>


    </div>


</div>


<div class="row">
    <div class="col-md-12">

        
       
            <button class="botones" (click)="this.crearProducto();">{{nombreBoton}}</button>
            <button class="botones" (click)="this.filtroCrear()">Cancelar</button>

        

    </div>
</div>
 






 <!--PRODUCTO-->
 <jw-modal id="modalProd-2" altura="80" >
    <h1>Elegir Producto:</h1>
    <div id="tablaProductos">

        <app-tabla-reusable [datos]="datosProd" [columnas]="columnasProd" [nombreBotones]="nombreBotonesProd1" (parentMethod)="funcionBoton($event)" colorLetra="black">
              
           </app-tabla-reusable> 
           
           
    </div>
    
    
    <div class="botones">

       <button class="btnCerrar" (click)="servicioModal.cerrar('modalProd-2'); this.filtroCrear()">Cancelar</button>
    </div>
 </jw-modal>
