<table id="lista">
  <caption>Lista Pedido</caption>
  <thead>
    <tr>
      <th scope="col">Cantidad</th>
      <th scope="col">Item</th>
      <th scope="col">Tamaño</th>
      <th scope="col">PrecioU</th>
      <th scope="col">Total</th>
      <th scope="col">Accion</th>
    </tr>
  </thead>
  <tbody>
    <tr 
    *ngFor="let pedidosEle of pedidos; let i = index">
      <td><input class="quantity" id="amount" min="0" name="cantidad" value={{pedidosEle.Cantidad}} type="number" (click)="cambioCantidad(i)" #amountInput></td>
      <td>{{pedidosEle.Nombre}}</td>
      <td>{{pedidosEle.Tamano}}</td>
      <td>{{pedidosEle.Precio}}</td>
      <td>{{pedidosEle.PrecioT}}</td>


      <button onclick="alert('Elimino un elemento');">-</button>
  </tr>
  </tbody> 
</table>

<table id="total">
  <tbody  style ="font-size: 20px;">
    <tr>
      <td>Total Articulos:</td>
      <td style="text-align: 10px;">{{cantidadPedidos}}</td>
      <td style="text-align: right;">{{totalPrecio}} Bs.</td>
    </tr>
  </tbody>
</table>
