*{
	
    margin-left: 7px;
}
.fondo {
    width: 100%;
	height: 1200px;
    top: -10px;
    left: -7px;
	
	
	position: relative;
    overflow: hidden;
}
h2{
    color: blanchedalmond;
    font-size: 40px;
    padding-top: 10px;
}