div{
    
    
    font-family: sans-serif;
    text-align: center;
    color:black;
    margin: 20px;
    padding: 3px;
}


.containerITable{

    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:  flex;
    
}

jw-modal btnCerrar{

    position: absolute;
    top: 10px;
    right : 10px;
    
    
    cursor: pointer;
    border-radius: 20%;
}

.tablaUsuarios{

    
    height: 400px;
    width: 100%;

}