/* Inicio */
.pagina{
    position: absolute;
    width: 100%;
    height: 1300px;
    top:66px;

    background: #121010;
    border: 1px solid #000000;
    box-sizing: border-box;
}

.imagen{
    position: absolute;
    width: 100%;
    height: 622px;
    
    overflow: hidden;
    background: url(src/imagenes/fondoInicio.jpg);
    /*mix-blend-mode: normal;*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;

}

footer{
    position: absolute;
    width: 1292px;
    height: 548px;
    left: 0px;
    top: 692px;
}


.frase {
    position: absolute;
    width: 459px;
    height: 489px;
    left: 60%;
    top: 10px;

    font-family: Montaga;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 89px;
    text-align: center;

    color: #FFFFFF;
}
.sucursal{
    position: absolute;
    width: 253px;
    height: 46px;
    left: 42px;
    top: -30px;

    font-family: Aclonica;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 39px;

    color: #B57F16;
}
.sucursales{
    position: absolute;
    width: 255px;
    height: 370px;
    left: 42px;
    top: 20px;
    
    font-family: Montaga;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    
    color: #FFFFFF;


}

.sucursales p{
    margin-top: 50px;
}

.horario{
    position: absolute;
    width: 475px;
    height: 38px;
    left: 354px;
    top: -30px;

    font-family: Aclonica;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 39px;

    color: #B57F16;
}

.horarios{
    position: absolute;
    /*width: 44px;
    height: 355px;*/
    left: 355px;
    top: 0px;
}

.horarios h1{
    width: 406px;
    height: 26px;
    left: 12px;
    top: 18px;

    font-family: Aclonica;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 27px;

    color: #B57F16;

    padding-top: 50px;
}
.horarios p{
    width: 254px;
    height: 30px;
    left: 12px;
    top: 133px;

    font-family: Montaga;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;

    color: #FFFFFF;
    padding-top: 20px;

}

.horarios ul{
    width: 254px;
    height: 30px;

    font-family: Montaga;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    color: #D92B13;

    padding-top: 20px;
    padding-left: 0px;
}

.amor{
    position: absolute;
    width: 287px;
    height: 44px;
    left: 56px;
    top: 530px;

    font-family: Montaga;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 37px;

    color: #B57F16;
}

.bros{
    position: absolute;
    width: 138px;
    height: 38px;
    left: 310px;
    top: 530px;

    font-family: Montaga;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 37px;

    color: #137C02;
}