<div class="pagina">
    <div class="imagen">
    </div>

    <footer>
        <p class="frase">No hay mejor triángulo amoroso que una rebanada de pizza</p>
        <p class="sucursal">SUCURSALES</p>

        <div class="sucursales">
            <p>1614 E. Bell Rd #104. Salerno, AZ 85002 (602) 867-1010</p>
            <p>204 E. Pizzetta Tommaso Sorreto, AZ 85022 (358) 876-1010</p>
            <p>Vale Puglia 54 Torre Del Greco, AZ 85022 (359) 867-1010</p>
        </div>

        <p class="horario">HORARIO DE ATENCIÓN</p>
        <div class="horarios">
            <h1>LUNES</h1>
                <ul class="cerrado">Pizzería Cerrada</ul>
            <h1>MARTES HASTA VIERNES</h1>
                <p>14:00 - 22:00</p>
            <h1>SABADO</h1>
                <p>11:00 a media noche</p>
            <h1>DOMINGO</h1>
                <p>14:00 - 22:00</p>
        </div>
        

            <p class="amor">Hecho con amor por</p>
            <p class="bros">Bros</p>



    </footer>
</div>

