form{
	width:90%;
	padding:1%;
	border-radius:5px;
	margin:auto;
	background-color:rgba(238, 230, 230, 0.781);
}

form label{
	width:60px;
	font-weight:bold;
	display:inline-block;
    font-size: 125%;
}
form input{
    height:12%; 
    width:70%;
    margin-top: 1%;
}
form button{
    height:5%; 
    width:12%;  
    position: absolute;
    top:6%; 
    right:10%;
    font-size: 97%;
    font-weight:bold;
    display:inline-block;
    background: rgba(214, 213, 213, 0.945);
    color: rgb(20, 19, 19);
}