<form class="row g-3">
    <div class="col-auto">
      <label for="staticEmail2" class="visually-hidden">Client</label>
      <input type="text" readonly class="form-control-plaintext" id="clientName" value="">
    </div>
    <div class="col-auto">
      <label for="inputPassword2" class="visually-hidden">NIT</label>
      <input type="password" class="form-control" id="clientNIT" placeholder="">
    </div>
    <div class="col-auto">
      <button type="submit" class="box">Print</button>
    </div>
  </form>
