
div{
    margin: 2px;
    padding: 3px;
}



h1{
    margin-top: -40px;
    font-size: 50px;
}

h2{
    font-size: 40px;
    margin-top: -50px;
}

.boton {
    background-color: whitesmoke;
    border-radius: 10px;
    margin-top: 20px
}

#btnCambiarEstado{
    position: absolute;
    width: 60px;
    height: 40px;
    margin-left: 21% ;
    font-size: 20px;
}

#btnCerrar{
    position: absolute;
    width: 110px;
    height: 40px;
    margin-left: 43% ;
    font-size: 25px;
}

.btnCerrar{
    background-color: whitesmoke;
    border-radius: 10px;
    margin-top: 10px;

    position: absolute;
    width: 100px;
    height: 40px;
    margin-left: 31%;
    font-size: 20px;
}

.tablaUsuarios{

    border-radius: 5px;
    height: 400px;
    width: 100%;

}
jw-modal btnCerrar{

    position: absolute;
    top: 10px;
    right : 10px;
    
    
    cursor: pointer;
    border-radius: 20%;
}

.tablaPedidos{

    border-radius: 5px;
    height: 70%;
    width: 100%;

}
.tablaConfirmacion{

    height: 300px;
    width: 100%;

}
.boton{

    height: 50px;
    width: 70px;
}
