
<div class="tablaUsuarios">


    <app-tabla-reusable [datos]="datos" [columnas]="columnas" [nombreBotones]="nombreBotones" (parentMethod)="funcionBoton($event)" >
       
    </app-tabla-reusable>
 
 </div>
 
 
 
 <jw-modal id="modal-1" >
    <h1>Informacion Pedido</h1>
    <app-tabla-reusable [datos]="pedidoSeleccionadoDatos" [columnas]="pedidoSeleccionadoColumnas"  >
        
    </app-tabla-reusable>
    <p><button class="btnCerrar" (click)="modalServicio.cerrar('modal-1');">Cerrar</button></p>
 
 </jw-modal>
 
 <jw-modal id="modal-2" >
    
    <h1>Seguro que quiere cambiar estado de pedido?</h1>
    <p>{{pedidoSeleccionado.name}}</p>
    <p><button class="btnCerrar" (click)="cambiarEstado(pedidoSeleccionado);">SI</button></p>
 
    <p><button class="btnCerrar" (click)="modalServicio.cerrar('modal-2');">Cancelar</button></p>
 
 </jw-modal>