<body>
    <div class="textos-header">
        <h1>Potencia tus ventas al menos un 20%</h1>
        <h2>Con una pagina web potente</h2>
    </div>

    <footer>
        <div class="contenedor-footer">
            <div class="content-foo">
                <h4>Telefono</h4>
                <p>44125784</p>
            </div>
            <div class="content-foo">
                <h4>Email</h4>
                <p>yourpizzabros@gmail.com</p>
            </div>
            <div class="content-foo">
                <h4>Ubicacion</h4>
                <p>America y Beiging</p>
            </div>
        </div>
        
    </footer>

</body>