<div class="container-fluid">
	<h1>sss</h1>
	<div class="row">
		<div class="col-md-12">
            <div class="dropdown">
				<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
				  Dropdown
				  <span class="caret"></span>
				</button>
				<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
				  <li><a (click)="actualizarCategoria('Salsa de Tomate')">Salsa de tomate</a></li>
				  <li><a href="#">Another action</a></li>
				  <li><a href="#">Something else here</a></li>
				  <li role="separator" class="divider"></li>
				  <li><a href="#">Separated link</a></li>
				</ul>
			  </div>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-12">
			<div class="list-group">
				<app-lista-ingredientes
								*ngFor="let ingredientesEle of articulos; let i = index"
								[product] = "ingredientesEle"
								[index] = "i"
								></app-lista-ingredientes>
			</div>
		</div>
	</div>
</div>