*{
    color:black;
}
h3{
    font-size: 60px;
    color: rgb(224, 103, 21);
    margin-left: 0%;
}
button {
    width: 130px;
    font-size: 20px;
    
}
.btn-group{
    margin-left: 5%;
}

.list-group{
    width: 70%;
    margin-top: -10px;
    color: rgba(243, 235, 222, 0.705);
    margin-left: 12%;
}