<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
            <div class="dropdown">
				<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
				  Dropdown
				  <span class="caret"></span>
				</button>
				<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
					<li><a *ngFor="let elem of datosCat" (click)="actualizarCategoria(elem['Nombre'])">{{elem['Nombre']}}</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="list-group">
				<app-lista-ingredientes
								*ngFor="let ingredientesEle of articulos; let i = index"
								[product] = "ingredientesEle"
								[id] = "id"
								[index] = "i"
								></app-lista-ingredientes>
			</div>
		</div>
	</div>
</div>
