
    button{
        margin: 5px;
        width: 250px;
        height: 60px;
        font-size: 20px;
        background-color: rgb(218, 75, 32);
        border: 0px;
        border-radius: 6px;


        color: black;
    }
    

.floatedLeft{



    float: left;
}
.ref{

    background-image:inherit ;
    background: url(https://comingsoon13.files.wordpress.com/2012/05/fondo-madera-marron.jpg);
}