
<a class="list-group-item list-group-item-action"  (click)="anhadirProducto()">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="d-flex w-100 justify-content-between">
                    <h5>{{product.Nombre}}</h5>
                    <small>Descrption</small>
                  </div>
                  <p>Some placeholder content in a paragraph.</p>
            </div>
            <div class="col-md-6">
            </div>
        </div>
    </div>
    
  </a>
