*{
	
    margin-left: 7px;
   
    color: black;
}

.ref{

    text-decoration:none;
    color: #000;
    font-size: 120%;
}

h1{
    color: blanchedalmond;
    font-size: 40px;
    padding-top: 10px;
}
h4 {
   
    color: black ;
    margin: 5px;
    font-size: 20px;
}
.fondo {
    width: 100%;
	height: 1300px;
   

    
}


.btn{
    margin: 5px;
    width: 200px;
    height: 50px;
    font-size: 18px;
    background-color: rgb(218, 75, 32);
}

