form{
	width:100%;
	padding:1%;
	/*border-radius:10px;*/
	margin-left: 10px;
	/*background-color:#b6a5a5fb;*/
	margin-top: 20px;
    
}
form label{
	width:75px;
    font-size: 25px;
	font-family: 'open sans';
	color: rgb(252, 249, 249);
}
form input{
    height:25px; 
    width:82%;
	border: 0;
	margin: 10px;
}
