
<div class="containerPedidos">
	<div class="row">
		<div class="col-md-8">
      <div>
        <label class="labelPedidos">Client</label>
        <input type="text" class="inputPedidos" id=Nombre #nombreInput>
      </div>
      
      <div>
        <label class="labelPedidos">NIT</label>
        <input type="number" class="inputPedidos" id=Nit #nitInput>
      </div>
		</div>
		<div class="col-md-4">
      <button type="submit" class="box" (click)="registarPedido()">Registrar Pedido</button>

		</div>
	</div>
</div>