.containerPedidos{
	width:500px;
    width:100%;
	padding:1%;
	/*border-radius:10px;*/
	margin-left: 10px;
	/*background-color:#b6a5a5fb;*/
	margin-top: 20px;
}
form{
	width:100%;
	padding:1%;
	/*border-radius:10px;*/
	margin-left: 10px;
	/*background-color:#b6a5a5fb;*/
	margin-top: 20px;
    
}
form label{
	width:75px;
    font-size: 25px;
	font-family: 'open sans';
	color: rgb(252, 249, 249);
}
form input{
    height:25px; 
    width:82%;
	border: 0;
	margin: 10px;

}
form button{
    height:12%; 
    width:10%;  
    top:8%; 
    left:38%;
    position: absolute;
    font-size: 97%;
    font-weight:bold;
    display:inline-block;
    background: rgb(224, 103, 21);
    color: rgb(10, 10, 12);
    border-radius: 10px;
    border: 1px;
    
}
.labelPedidos{
	width:60px;
	font-weight:bold;
	display:inline-block;
    font-size: 125%;
    color: rgb(252, 249, 249);

}
.inputPedidos{
    height:10%; 
    width:80%;
    right:0px;

}
.box { 
    height:40px; 
    width: 180px;  
    top:8px; 
    left:0px;
    position: absolute;
    font-size: 21px;
    display:inline-block;
    background: rgba(241, 193, 35, 0.945);
    color: rgba(255, 255, 255, 0.89);
    border-radius: 10px;
    border: 1px;
    font-family: 'open sans';
 }
