<div class="container-fluid">
    <h1>sss</h1>
	
    <button type="button"  class="btn btn-primary" routerLink="/hacer-compra">Realizar Compra</button>
	<button type="button" class="btn btn-primary">Primary</button>
    <h2>ss</h2>
    <div class="tablaIngredientes">

        
        <app-tabla-reusable [datos]="datos" [columnas]="columnas" [nombreBotones]="nombreBotones" (parentMethod)="funcionBoton($event)" colorLetra="black">
              
           </app-tabla-reusable> 
           
           
    </div>
</div>
