*{
    font-family: 'open sans';
}
.btn {
    background-color: rgba(241, 193, 35, 0.945);
    width: 158px;
    height: 39px;
    margin-left: 40%;
    margin-bottom: 3%;
    border: 0px;
    border-radius: 10px;
    font-size: 20px;
   

    left: 60%;
}
.tablaIngredientes {
  
    width: 90%;
    text-align-last: center;
    right: -180px;
    top: -182px;
}