

/*CONTENEDOR FILTROS*/



h3{
    font-size: 30px;
    margin-top: 1px;
}

input{
    margin: 5px;
}

label {
    font-size: 15px;
}


.btnCerrar
{
    background-color: whitesmoke;
    border-radius: 10px;
    margin-top: 10px;

    position: absolute;
    width: 100px;
    height: 40px;
    margin-left: 31%;
    font-size: 20px;
}
.btnBuscar{

    background-color: rgba(241, 193, 35, 0.945);
    width: 85px;
    border-radius: 7px;
    margin-top: 10px;
    width: 100px;
    margin-left: -10%;
    margin-bottom: 30px;

}
.row{

    margin-bottom: 1%;
}

.contenedorFiltros .submit {
    background-color: rgba(241, 193, 35, 0.945);
    width: 85px;
    height: 32px;
    margin-left: 100%;
    margin-bottom: 3%;
    border: 0px;
    border-radius: 10px;
    font-size: 20px;
}


#fechaInicio{

    display: none;

}
#fechaDestino{

    display: none;
   
}
#clienteCampus{

    display: none;
}

/*TABLA DE INFORMACION PEDIDOS*/
h1{
    margin-top: -40px;
    font-size: 50px;
    background:none;
}

app-tabla-reusable{
    color: black;
    
}








.tablaUsuarios{

    border-radius: 5px;
    height: 400px;
    width: 100%;

}

.tablaPedidos{

    border-radius: 5px;
    height: 70%;
    width: 100%;

}
jw-modal btnCerrar{

    position: absolute;
    top: 10px;
    right : 10px;
    
    
    cursor: pointer;
    border-radius: 20%;
}

.dentroModal{

    background: white;
}




